<!--
File: about.html
Author: Tamás Domán
Copyright: 2022, Tamás Domán
Group: Szoft I N
Date: 2022-06-14
Github: https://github.com/DomanTom07/
Licenc: GNU GPL
-->

<h2>
    Névjegy
</h2>
<div class="card w-100 text-center" style="width: 18rem;">
    <div class="card-body">
        <h4 class="card-title">
            Tamás Domán
        </h4>
        <p class="card-text">
            Osztály: Szoft I N
        </p>
        <p class="card-text">
            Feladat 0337 megoldása
        </p>
        <p class="card-text">
            Ellipszoid térfogatszámítás a tengelyei alapján
        </p>
        <p class="card-text">
            Készítés dátuma: 2022-06-14
        </p>
        <p class="card-text"><a href="https://github.com/DomanTom07" class="link-secondary">
            Github
        </a></p>
    </div>
</div>